/docu/*.log
/docu/*.synctex.gz
/docu/*.aux
docu/*.log
src/tuning_results/
src/__pycache__/
src/tuning_results_rand/
docu/latex/README
docu/latex/*.png
docu/latex/*.synctex.gz
docu/latex/*.aux
docu/latex/*.log
docu/latex/projekt_temp*
docu/latex/IEEE-conference-template-062824/IEEEtran_HOWTO.pdf
docu/latex/fig1.png
docu/latex/IEEEtran_HOWTO.pdf
docu/latex/projektS.bst
docu/latex/projekt_simple.bib
docu/latex/IEEEtran_bst_HOWTO.pdf
